@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
    background-color: #ffffff;
    color: #312f2f;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-position: 0 -150px;
    background-size: 1600px 1000px;
    color: #ffffff;
    z-index: -10;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: -5;
}

.heading {
    font-family: sans-serif;
    font-weight: 500;
    height: 70px;
    width: 102%;
    background-color: #312f2f;
    position: fixed;
    top: -7px;
    left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 50;
}

.heading-logo {
    height: 35px;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    left: 50px;
    bottom: 9px;
}

.heading-sections {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    right: 50px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #312f2f;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catch-phrase-1 {
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}

.catch-phrase-2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
}

.options {
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
    color: #ffffff;

}

.learn-more {
    font-size: 15px;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(163, 161, 161, 0);
    border: 1px solid #ffffff;
    margin-right: 10px;
    color: #ffffff;
}

.subscribe {
    font-size: 15px;
    width: 130px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: black;
    background-color: #ffffff;
    margin-left: 10px;
}

.home, .about, .services, .contact, .feedback {
    height: 35px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
    border: none;
    background-color: #312f2f;
    color: #ffffff;
    width: 100px;
}

@media (max-width: 1200px) {
    body {
        background-position: top -130px left -80px;
        background-size: 1450px 1000px;
    }
    .home, .about, .services, .contact, .feedback {
        font-size: 21px;
        width: 95px;
    }

    .heading-logo {
        font-size: 34px;
        bottom: 9px;
    }

    .catch-phrase-1 {
        font-size: 33px;
    }

    .catch-phrase-2 {
        font-size: 28px;
    }

    .learn-more, .subscribe {
        font-size: 14px;
        width: 125px;
        height: 37px;
    }
}

@media (max-width: 1000px) {
    body {
        background-position: top -120px left -100px;
        background-size: 1300px 900px;
    }

    .home, .about, .services, .contact, .feedback {
        font-size: 19px;
        width: 90px;
    }

    .heading-logo {
        font-size: 34px;
        left: 45px;
        bottom: 9px;
    }

    .heading-sections {
        width: 57%;
        right: 45px;
    }

    .catch-phrase-1 {
        font-size: 31px;
    }

    .catch-phrase-2 {
        font-size: 26px;
    }

    .learn-more, .subscribe {
        font-size: 13px;
        width: 120px;
        height: 35px;
    }
}

@media (max-width: 800px) {
    body {
        background-position: top -100px left -150px;
        background-size: 1300px 900px;
    }

    .home, .about, .services, .contact, .feedback {
        font-size: 17px;
        width: 80px;
    }

    .heading-logo {
        font-size: 33px;
        left: 30px;
        bottom: 8px;
    }

    .heading-sections {
        width: 60%;
        right: 30px;
    }

    .catch-phrase-1 {
        font-size: 28px;
    }

    .catch-phrase-2 {
        font-size: 24px;
    }

    .learn-more, .subscribe {
        font-size: 12px;
        width: 115px;
        height: 30px;
    }
}

@media (max-width: 600px) {
    body {
        background-position: top -100px left -190px;
        background-size: 1200px 900px;
    }

    .home, .about, .services, .contact, .feedback {
        font-size: 16px;
        left: 30px;
        width: 70px;
    }

    .heading-logo {
        font-size: 32px;
        left: 30px;
        bottom: 8px;
    }

    .heading-sections {
        width: 60%;
        right: 30px;
    }

    .catch-phrase-1 {
        font-size: 26px;
    }

    .catch-phrase-2 {
        font-size: 22px;
    }

    .learn-more, .subscribe {
        font-size: 10px;
        width: 110px;
        height: 25px;
    }
}

@media (max-width: 550px) {
    body {
        background-position: top -100px left -190px;
        background-size: 1200px 900px;
    }

    .home, .about, .services, .contact, .feedback {
        font-size: 13px;
        width: 70px;
    }

    .heading-logo {
        font-size: 30px;
        left: 20px;
        bottom: 8px;
    }

    .heading-sections {
        width: 60%;
        right: 20px;
    }

    .catch-phrase-1 {
        font-size: 25px;
    }

    .catch-phrase-2 {
        font-size: 22px;
    }

    .learn-more, .subscribe {
        font-size: 10px;
        width: 110px;
        height: 25px;
    }
}